.chat-input-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.chatbot-container-bottom .chat-input-container {
  margin-bottom: 52px;
}

.chat-input {
  font-size: 15px;
  padding: 12px 15px;
  border-width: 1px;
  border-radius: 10px;
  margin-right: 10px;
}

.question-dropdown {
  font-size: 15px;
  padding: 10px 12px;
  border-width: 1px;
  border-radius: 10px;
  background: white;
  cursor: pointer;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}
