.chatbot-container {
        font-family: Arial;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

        display: grid;
      }

      .chatbot-container-top {
        grid-template-rows: auto 1fr;
        height: calc(100vh - 80px);
      }

      .chatbot-container-bottom {
        grid-template-rows: 1fr auto;
        /* 20px margin-top + 8px margin-bottom (the default margin) */
        height: calc(100vh - 28px);
      }

      .welcome-message {
        color: rgb(120, 120, 120);
        text-align: center;
        margin-top: 0;
      }

      .loading-spinner {
        height: 40px;
        margin: -15px;
      }

      .position-switcher-container {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 99999;
      }

      .position-switcher {
        color: rgb(25, 135, 84);
        cursor: pointer;
        text-decoration: underline;
      }